* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
}
header {
    display: flex;
    font-family: 'Montserrat';
    font-family: 'Heebo', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
    padding-left: 90px;
}
header a {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 76%;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    font-size: 12px;
    color: black;
    font-family: 'Heebo', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    border: 1px solid black;
}
#quick {
    display: none;
}
.firstsec {
    display: none;
}
.secondsec {
   display: grid;
   grid-template-columns: 1fr 1fr;
    background-image: url(./images/iphone.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    padding-top: 50px;
    margin-top: 60px;
    font-family: 'Heebo', sans-serif;
    font-family: 'Libre Baskerville', serif;
font-family: 'Noto Serif', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
}
.seconddiv {
    padding-left: 66%;
    font-family: 'Heebo', sans-serif;
    font-family: 'Libre Baskerville', serif;
font-family: 'Noto Serif', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
}
.seconddiv p {
    font-size: 40px;
    color: (15, 15, 68)
}
.seconddiv p span {
    font-size: 15px;
    color: grey;
}
.firstp {
  font-size: 50px;
  padding-left: 90px;
  }
  .secondp {
    margin-left: 90px;
    color: rgb(82, 80, 80);
    margin-top: 40px;
  }
  .firstbut {
    padding: 7px 10px;
    background-color: rgb(15, 15, 68);
    color: white;
    border-radius: 4px;
    margin-top: 40px;
    margin-left: 90px;
  }
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:  rgb(17, 17, 34);
    margin: 120px 90px 90px 90px;
    font-family: 'Heebo', sans-serif;
    font-family: 'Libre Baskerville', serif;
font-family: 'Noto Serif', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
  }
  .thirddiv img {
    padding-top: 120px;
    height: 600px;
    object-fit: cover;
  }
  .thirdp {
    font-size: 30px;
    float: right;
    color: white;
    position: absolute;
    padding-top: 190px;
    margin-left: 40%;
  }
  @media  screen and (max-width:500px){
      #quick {
          display: inline-flex;
          margin-left: 240px;
        }
        header a {
        display: none;
    }
    header {
        padding-left: 20px;
        display: inline-flex;
    }
     .firstsec {
        display: flex;
        flex-direction: column;
        background-color: black;
        margin-left: 60%;
        max-width: 100px;
        padding-left: 15px;
        padding-right: 10px;
        padding-bottom: 10px;
    }
    .firstsec a {
        text-decoration: none;
        color: white;
        padding-top: 5px;
     }
     .firstsec a:hover {
        border-bottom: 2px solid white;
        width: 80px;
     }
     .secondsec {
        display: grid;
        grid-template-columns: 1fr 1fr;
       padding-top: 40px;
       margin-top: 30px;
       font-family: 'Heebo', sans-serif;
font-family: 'Libre Baskerville', serif;
background-image: none;
font-family: 'Noto Serif', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
}
.firstp {
        font-size: 35px;
        padding-left: 20px;
        color: rgb(39, 39, 44);
     }
     .secondp {
        margin-left: 20px;
        font-size: 19px;
    }
     .secondsec {
        display: flex;
    }
     .firstbut {
        margin-left: 20px;
        padding: 20px 90px;
     }
     .seconddiv {
         display: none;
        }
     .thirddiv {
        display: flex;
    }
    footer {
         display: flex;
         margin: 30px 20px 0px 20px;
         padding-bottom: 60px;
        }
     .thirddiv img {
          height: 300px;
          display: absolute;
          padding-right: 60px;
     }
     .thirdp {
        font-size: 20px;
        padding-left: 60px;
        margin-left: 40px;
        margin-top: 110px;
     }
    }

    @media screen and (max-width: 767px) {
       header a {
        margin-left: 260px;
       } 
       header {
        padding-left: 20px;
       }
       .secondsec {
        display: flex;
        flex-direction: column;
        background-image: none;
        padding: 0px;
       }
       .seconddiv {
        padding-left: 0px;
       }
       .firstp {
        display: block;
        padding-left: 20px;
       }
       .firstdiv {
        padding-left: 0px;
        margin-right: 0px;
       }
       .secondp {
        margin-left: 20px;
       }
    }